/* Convert to SCSS when you have time */

body {
    margin: 0px;
    padding: 0px;
    background-color: #161616;
}
html {
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* Main information CSS */
#main-container{
    width: 100%;
    box-sizing: border-box;
    position: relative;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: Calibri;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
	padding: 10px 50px;
    background-color: #f4f7ff;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.05);
    z-index: 1;
}

.nav-links{
    display: flex;
    text-transform: uppercase;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}
.nav-links li a {
    padding: 10px 15px;
    color: #6c707c;
    font-size: 14px;
}
.language {
    color:#292929;
}

.logo{
    font-size: 25px; 
    font-weight: bold; 
    color: #292929;
    font-family: calibri;
}
.nav-links li a:hover, 
.active{
    background-color: #292929;
    color: #FFFFFF !important;
    font-weight: 700;
    transition: all ease 0.4s;
}

/* intro section */
.intro-container {
    margin: 0 auto;
}

.intro-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'name' 'photo';
    background-color: #edf1fd;
    justify-content: center;
    align-content: center;
    padding: 8rem 0 8rem 0;
}
.name{
    display: grid;
    font-family: calibri;
    justify-content: center;
    align-content: center;
    height: 30rem;
}
.name p:nth-child(1),
.name .details{
    color: #6c707c;
    font-size: 25px;
}
.name h1{
    font-family: calibri;
    font-size: 40px;
    margin: 0px;
    letter-spacing: 3px;
    color: #292929;
}
.photo {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 36rem;
    width: 62%;
}

.photo img {
    height: 100%;
    width: 100%;
}

.cv-btn{
    width:200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    color: #FFFFFF;
}
.cv-btn:hover{
    background-color: #131313;
    transition: all ease 0.5s;
}

/* About CSS */
#about{
    width:100%;
    height: 100vh;
    background-color:#161616;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5% 0px 5%;
    box-shadow:2px 0px 20px rgba(0,0,0,0.4);
   }
.about-text{
    font-family: calibri;
    width: 50%;
}
.about-text h1{
    font-size: 5rem;
    color:#c28f2f;
}
.about-text h2{
    font-size: 3rem;
    color:#FFFFFF;
    font-weight: 400;
}
.about-text h1,h2{
    margin: 0px;
    padding: 0px;
}
.about-text p{
    font-size: 1.2rem;
    color:rgba(255,255,255,0.90);
    
}
.about-text button{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #c28f2f;
}
.about-text button:hover{
    background-color: #FFFFFF;
    transition: all ease 0.3s;
}

/* Portfolio CSS */
#portfolio{
    width:100%;
    box-sizing: border-box;
    font-family: calibri;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 2% 20px 2%;
}
.p-heading{
    font-family: calibri;
    text-align: center;
    padding: 10px 20px;
    font-size: 5rem;
    color:#c28f2f;
    letter-spacing: 2px;
}
.p-b-container{
    width: 90%;
    height:70vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    justify-content: center;
    grid-template-rows: auto auto;
    grid-gap: 10px;
}
.p-box{
    background-color: #1F1F1F;
    overflow: hidden;
    height: 50%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 13px rgba(0,0,0,0.3);  
    position: relative;
}
.p-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-overlay{
    font-family: calibri;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(194, 143,47,0.90);
    display:none;
}
.text-overlay h1,p, a{
    color: #FFFFFF;
}
.text-overlay h1{
    font-size: 2.2rem;
    margin: 0px;
    padding: 0px;
    letter-spacing: 2px;
}
.text-overlay p{
    font-size: 1.2rem;
    margin: 0px;
}
.text-overlay a{
    text-decoration: none;
    font-size: 1.2rem;
    padding-top: 3rem;
}
.p-box:hover .text-overlay{
    display: flex;
    
}

/* contact css */
#contact-btn{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 70%;
    padding-top: 50px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    box-shadow:2px 0px 20px rgba(0,0,0,0.4);
}
.c-b-heading{
    font-size: 2rem;
    color:#161616;
    font-family: calibri;
    margin: 10px;
    padding: 5px;
    letter-spacing: 4px;
    border-bottom: 2px solid #161616;
}
#contact-btn button{
    color: #000000;
    font-size: 1rem;
    font-family: calibri;
    width:150px;
    height: 40px;
    margin: 10px;
    background-color: #C28F2F;
    border: none;
    outline: none;
}
#contact-btn button:hover{
    background-color: #1E1E1E;
    color:#FFFFFF;
    transition: all ease 0.5s;
    font-weight: bold;
}

.contact-details{
    display: flex;
    flex-direction: column;
    font-family: Calibri;
    color: #161616;
    align-items: center;
    align-content: center;
    padding-bottom: 10rem;
}

.social{
    position: abosolute;
    left: 50px;
    bottom: 50px;
    display: flex;
}
.social a{
    margin: 6px 12px;

}
.social i{
    color:#161616;
    font-size: 45px;
}
.social a:hover i{
    color: #C28F2F;
    transition: all ease 0.5s;
}

/* Footer CSS */
footer{
    font-family: calibri;
    padding-top: 20px;
    padding-bottom: 40px;
}

.copyrightSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    color: #FFF;
}

.logoFooter {
    color: #C28F2F;
    font-size: 25px; 
    font-weight: bold; 
    font-family: calibri;
}

@media screen and (max-width: 1190px){
    .about-model img {
        height: 400px;
    }
    .p-box{
        height: 100%;
    }
}

@media screen and (max-width: 970px){
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 10vh;
    }

    .nav-links{
        display: none;
    }
   
    .intro-wrapper{
        grid-template-columns: 1fr;
    }
    .photo {
        display: none;
    }
    .name{
        padding: 5rem;
    }


    .about-model {
        display: none;
    }
    #about{
        justify-content: center;
        padding-top: 0px;
    }
    .about-text{
        width: 90%;
    }
    .about-text h1 {
        font-size: 4rem
    }


    .p-box{
        height: 100%;
    }
    .p-b-container{
        width: 100%;
    }


    .c-b-heading{
        font-size: 20px;
    }
    .contact-details h1{
        font-size: 20px;
    }
    .social i {
        font-size: 30px;
    }

    .copyrightSection {
        flex-direction: column;
    }
    .copyrightSection a{
        padding: 40px;
    }
}